<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Simple Dashboard</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="select-theme-default.css" />
    <script src="tether.min.js"></script>
    <script src="select.min.js"></script>

    <link
      rel="stylesheet"
      href="https://gitcdn.xyz/cdn/angular/bower-material/v1.1.21/angular-material.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <script src="./app.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.36/dayjs.min.js"></script>
    <script src="./data.js"></script>
    <script src="./helper.js"></script>
  </head>
  <body ng-app="Dashboard" style="margin: 0; background: #fafafa">
    <!-- cntroller -->
    <div ng-controller="DashBoardController">
      <div class="dash-container">
        <div style="display: flex; margin-bottom: 1px">
          <div class="dash--home-card shadow">
            <span
              class="material-icons-outlined"
              style="color: darkgray; font-size: 30px"
            >
              home
            </span>
          </div>
          <div class="dash--toolbar shadow">
            <div class="dash--fonts">Dashboard</div>
            <div>
              <select name="language" class="language-selector">
                <option value="NL">🇬🇧&emsp;ENG</option>
                <option value="DE">🇩🇪&emsp;Germen</option>
                <option value="FR">🇫🇷&emsp;French</option>
                <option value="ES">🇪🇸&emsp;Spanish</option>
              </select>
            </div>
          </div>
        </div>
        <div style="display: flex; height: calc(100% - 50px)">
          <!-- side bar -->
          <div class="dash--side-bar shadow">
            <!-- profile -->
            <div class="profile-container">
              <div style="display: flex; align-items: flex-end; width: 100px">
                <img
                  src="./assets/martha.jpg"
                  style="width: 100px; border-radius: 50%; margin-bottom: 10px"
                />
                <div class="setting">
                  <img src="./assets/setting.svg" />
                </div>
              </div>
              <div style="display: flex; align-items: center">
                <div
                  class="dash--fonts"
                  style="font-weight: 600; margin-right: 10px"
                >
                  Martha Blair
                </div>
                <div class="onlineStatus"></div>
              </div>
              <div style="color: lightgray; margin-top: 10px">Developer</div>
            </div>

            <div
              style="padding: 0 12%; overflow-y: auto"
              ng-style="{height: sideBarBtns.isDashClicked? '301px':'auto'}"
            >
              <!-- Dashboard -->
              <div style="padding: 1.5em 0">
                <!-- expansion btn -->
                <div
                  class="dash--expansion-panel"
                  ng-click="handleDashClicked('isDashClicked','sideBarBtns')"
                >
                  <div
                    style="color: darkgray; display: flex; align-items: center"
                  >
                    <span
                      class="material-icons-outlined"
                      ng-style="{color:sideBarBtns.isDashClicked? '#1051e0':'darkgray'}"
                    >
                      dashboard
                    </span>
                    <div
                      class="dash--fonts"
                      style="
                        font-weight: 600;
                        font-size: 12px;
                        margin-left: 12px;
                      "
                    >
                      Dashboard
                    </div>
                  </div>
                  <div style="color: dimgray">
                    <span
                      class="material-icons"
                      style="font-size: 16px"
                      ng-if="!sideBarBtns.isDashClicked"
                    >
                      arrow_right
                    </span>
                    <span
                      class="material-icons"
                      style="font-size: 16px; color: #1051e0"
                      ng-if="sideBarBtns.isDashClicked"
                    >
                      arrow_drop_down
                    </span>
                  </div>
                </div>
                <!-- expanded content  -->
                <div
                  style="margin-left: 37px; font-size: 12px; margin-top: 13px"
                  ng-if="sideBarBtns.isDashClicked"
                >
                  <div>
                    <button class="expanded-font">Page Visitors</button>
                  </div>
                  <div>
                    <button class="expanded-font">Post Performance</button>
                  </div>

                  <div>
                    <button class="expanded-font">Team Overall</button>
                  </div>
                </div>
              </div>
              <!-- end dashboard -->
              <!-- calendar -->
              <div style="margin-bottom: 1em">
                <div class="dash--seperation-line"></div>
                <div
                  class="dash--sideBarBtns"
                  ng-click="handleDashClicked('isCalendarClicked','sideBarBtns')"
                >
                  <span
                    class="material-icons-outlined"
                    ng-style="{color:sideBarBtns.isCalendarClicked? '#1051e0':'darkgray'}"
                  >
                    calendar_today
                  </span>
                  <div
                    class="dash--fonts"
                    style="font-weight: 600; font-size: 12px; margin-left: 12px"
                  >
                    Calendar
                  </div>
                </div>
              </div>
              <!-- Inbox -->
              <div style="margin-bottom: 1em">
                <div class="dash--seperation-line" style="height: 0.1px"></div>
                <div
                  class="dash--sideBarBtns"
                  ng-click="handleDashClicked('isInboxClicked','sideBarBtns')"
                >
                  <span
                    class="material-icons-outlined"
                    ng-style="{color:sideBarBtns.isInboxClicked? '#1051e0':'darkgray'}"
                  >
                    inbox
                  </span>
                  <div
                    class="dash--fonts"
                    style="
                      font-weight: 600;
                      font-size: 12px;
                      margin-left: 12px;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      width: 100%;
                    "
                  >
                    <div>Inbox</div>
                    <div>
                      <div>
                        <span
                          class="material-icons"
                          style="
                            font-size: 14px;
                            display: inline-block;
                            height: 8px;
                          "
                          ng-style="{color: !sideBarBtns.isInboxClicked? 'darkgray': '#1051e0'}"
                        >
                          arrow_drop_up
                        </span>
                      </div>
                      <div>
                        <span
                          class="material-icons"
                          style="font-size: 14px; display: inline-block"
                          ng-style="{color: !sideBarBtns.isInboxClicked? 'darkgray': '#1051e0'}"
                        >
                          arrow_drop_down
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Invoice -->
              <div style="margin-bottom: 1em">
                <div class="dash--seperation-line" style="height: 1.1px"></div>
                <div
                  class="dash--sideBarBtns"
                  ng-click="handleDashClicked('isInVoiceClicked','sideBarBtns')"
                >
                  <span
                    class="material-icons-outlined"
                    ng-style="{color:sideBarBtns.isInVoiceClicked? '#1051e0':'darkgray'}"
                  >
                    home_repair_service
                  </span>
                  <div
                    class="dash--fonts"
                    style="font-weight: 600; font-size: 12px; margin-left: 12px"
                  >
                    Invoicing
                  </div>
                </div>
              </div>
              <!-- Lab /Experiment -->
              <div style="margin-bottom: 1em">
                <div class="dash--seperation-line"></div>
                <div
                  class="dash--sideBarBtns"
                  ng-click="handleDashClicked('isInLabClicked','sideBarBtns')"
                >
                  <span
                    class="material-icons-outlined"
                    ng-style="{color:sideBarBtns.isInLabClicked? '#1051e0':'darkgray'}"
                  >
                    outdoor_grill
                  </span>
                  <div
                    class="dash--fonts"
                    style="font-weight: 600; font-size: 12px; margin-left: 12px"
                  >
                    Lab / Experiment
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
            <!-- info -->
            <div style="padding: 0 12%">
              <div class="dash--seperation-line"></div>

              <div class="expanded-font" style="font-size: 11px">
                RECENTLY VIEWED
              </div>
              <div>
                <!-- performance -->
                <div class="dash--fonts info-text">
                  <div>Overall Performance</div>
                  <div>
                    <span
                      class="material-icons"
                      style="color: darkgray; font-size: 18px"
                      >arrow_right_alt</span
                    >
                  </div>
                </div>
                <!-- invoice -->
                <div class="dash--fonts info-text">
                  <div>Invoice #940</div>
                  <div>
                    <span
                      class="material-icons"
                      style="color: darkgray; font-size: 18px"
                      >arrow_right_alt</span
                    >
                  </div>
                </div>
                <!-- customer -->
                <div class="dash--fonts info-text">
                  <div>Customer: Minerva Viewer</div>
                  <div>
                    <span
                      class="material-icons"
                      style="color: darkgray; font-size: 18px"
                      >arrow_right_alt</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- side bar bottom -->
            <div style="position: absolute; bottom: 10px; width: 100%">
              <div style="border-bottom: 1px solid #f0f0f0"></div>
              <div
                class="dash--fonts bottom-content-sidebar"
                style="border-top: 2px solid #fafafa"
              >
                <div style="font-weight: 600; font-size: 12px">
                  Page: dribble.com/janlosert
                </div>
                <div style="font-size: 12px">575940-1811</div>
              </div>
            </div>
          </div>
          <!-- end side bar -->
          <!-- dash main contents -->
          <div class="dash--content">
            <!-- upper card -->
            <div style="background: white; height: 376px" class="shadow">
              <!-- upper content -->
              <div class="upper-cards--top-content">
                <div class="dash--fonts" style="font-weight: 600">
                  Daily Visitors
                </div>
                <div>
                  <select
                    ng-change="updateColumnChart()"
                    ng-model="selectedMonth"
                    name="months"
                    class="language-selector"
                    style="width: 90px; padding: 10px 12px"
                  >
                    <option ng-value="month" ng-repeat="month in months">
                      {{month}}
                    </option>
                  </select>
                  <select
                    ng-model="selectedYear"
                    ng-change="updateColumnChart()"
                    name="months"
                    class="language-selector"
                    style="width: 78px; padding: 10px 12px; margin-left: 5px"
                  >
                    <option ng-value="year" ng-repeat="year in years">
                      {{year}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="dash--seperation-line" style="margin: 0em 0.5em 2em 0em;"></div>
              <div>
                <div
                  id="container"
                  style="height: 264px; padding: 0 26px"
                ></div>
              </div>
            </div>

            <!-- middle cards -->
            <div class="info-cards-container">
              <div
                ng-repeat="record in records"
                class="dash--info-cards shadow"
              >
                <div
                  style="
                    font-size: 12px;
                    color: darkgray;
                    font-weight: 600;
                    padding: 2em 0 1em 0;
                  "
                >
                  {{record.title}}
                </div>
                <div style="font-size: 36px; margin-bottom: 0.5em; color: gray">
                  {{record.value}}
                </div>
                <div
                  ng-style="{color: record.color}"
                  style="
                    color: green;
                    font-size: 14px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                  "
                >
                  {{record.rate}}
                  <span
                    class="material-icons"
                    ng-Style="{color: record.color, border-color: record.color}"
                    style="
                      font-size: 15px;
                      font-weight: 900;
                      border: 2px solid;
                      margin-left: 0.5em;
                    "
                  >
                    {{record.color === 'green' ? 'north_east': 'south_west'}}
                  </span>
                </div>
                <!-- ng-attr-id="{{record.id}}" -->
                <div
                  id="{{record.id}}"
                  style="
                    height: 200px;
                    padding: 0 24px 12px 24px;
                    width: calc(100% - 48px);
                    overflow: hidden;
                  "
                ></div>
              </div>
            </div>

            <!-- bottom cards -->
            <div
              style="
                display: flex;
                margin-top: 34px;
                height: calc(100% - 554px);
                justify-content: space-between;
              "
            >
              <div class="bottom-left shadow">
                <div class="upper-cards--top-content">
                  <div class="dash--fonts" style="font-weight: 600">
                    Most Visited Pages
                  </div>
                </div>
                <div
                  class="dash--seperation-line"
                  style="margin: 0 0.5em 0.5em 0"
                ></div>
                <table style="width: 100%">
                  <tr>
                    <th style="padding: 9.5px 0px 13px 34px">PAGE NAME</th>
                    <th>VISITORS</th>
                    <!-- <th style="color: white"></th> -->
                    <th>UNIQUE PAGE VISITS</th>
                    <th>BOUNCE RATE</th>
                    <th style="color: white">Graph OF VISITED</th>
                  </tr>
                  <tr ng-repeat="page in visitedPages">
                    <td style="padding: 0 34px">
                      <div
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                        "
                      >
                        {{page.pageName}}
                        <span
                          class="material-icons"
                          style="
                            color: darkgray;
                            font-size: 20px;
                            cursor: pointer;
                          "
                        >
                          open_in_new
                        </span>
                      </div>
                    </td>
                    <!-- <td></td> -->
                    <td>{{page.visitors}}</td>
                    <td>{{page.uniqueVisitors}}</td>
                    <td>{{page.bounceRate}}</td>
                    <td style="width: 20%">
                      <div
                        id="{{page.id}}"
                        style="height: 56px; width: calc(100% - 22px)"
                      ></div>
                    </td>
                    <!-- <div class="dash--seperation-line"></div> -->
                  </tr>
                </table>
              </div>
              <div class="bottom-right shadow">
                <div class="upper-cards--top-content">
                  <div class="dash--fonts" style="font-weight: 600">
                    Social Media Traffic
                  </div>
                </div>
                <div
                  class="dash--seperation-line"
                  style="margin: 0 0.5em 0.5em 0"
                ></div>
                <table style="width: 100%" class="socialTraffic">
                  <tr>
                    <th style="padding: 9.5px 0px 13px 34px">NETWORK</th>
                    <th>VISITORS</th>
                    <th style="color: white">Progress bAR of traffic</th>
                  </tr>
                  <tr ng-repeat="traffic in socialTraffic">
                    <td style="padding-left: 34px">{{traffic.network}}</td>
                    <td>{{traffic.visitors}}</td>
                    <td>
                      <div class="dash--progressbar">
                        <div
                          class="dash--progress-inner"
                          ng-style="{width: traffic.value}"
                        ></div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- end  main -->
        </div>
      </div>
    </div>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </body>
</html>
