.dash-container {
  background-color: #fbfbfd;
  height: 97%;
  width: 100%;
}
.dash--home-card {
  width: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background: white;
}
.shadow {
  box-shadow: 2px 2px 1px 1px rgba(220, 220, 220, 0.2);
  border: 1px;
  border-radius: 2px;
}
.dash--toolbar {
  width: calc(81% - 64px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background: white;
  padding: 5px 35px;
  font-weight: 600;
}

.dash--fonts {
  font-family: sans-serif;
  color: dimgray;
}

.dash--side-bar {
  width: 19%;
  /* height: fit-content; */
  background: white;
  position: relative;
}

.dash--content {
  width: calc(81% - 68px);
  padding: 34 34 0 34;
  overflow-y: auto;
}

.dash--info-cards {
  background: white;
  width: calc(25% - 25.5px);
  height: 261px;
  /* padding: 32px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.info-cards-container {
  display: flex;
  margin-top: 34px;
  justify-content: space-between;
}
.bottom-left {
  background: white;
  width: calc(69% - 34px);
  height: 333px;

  /* height: 100%; */
}
.bottom-right {
  background: white;
  width: 31%;
  /* height: 100%; */
  height: 333px;

}
.language-selector {
  padding: 10px;
  background: white;
  width: 100px;
  font-size: 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 1px rgba(220, 220, 220, 0.2);

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC");
  background-position: calc(100% - 0.3rem), 100% 0;
  background-size: 1em 1em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}
.language-selector:focus {
  outline: none;
}

.profile-container {
  height: 25%;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.onlineStatus {
  border-radius: 50%;
  background: #22ba34;
  width: 7px;
  height: 7px;
}
.setting {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  z-index: 99;
  /* top: 190px; */
  left: -31px;
  background: white;
  padding: 10px;
}

.dash--expansion-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dash--expansion-panel:hover {
  cursor: pointer;
}

.expanded-font {
  margin: 16px 0;
  background: transparent;
  border: none;
  padding: 0;
  font-weight: 600;
  color: darkgray;
}
.expanded-font:focus {
  color: blue;
  outline: none;
}
.expanded-font:hover {
  cursor: pointer;
}
.dash--sideBarBtns {
  color: darkgray;
  display: flex;
  align-items: center;
}
.dash--sideBarBtns:hover {
  cursor: pointer;
}

.dash--seperation-line {
  margin: 0em 0.5em 1em 0em;
  height: 1.1px;
  background: #f0f0f0;
  width: 100%;
}
.info-text {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 11px;
}
.bottom-content-sidebar {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    margin: 12px 12%;
}
.upper-cards--top-content{
  padding: 16px 34px 16px 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
table, th{
  border-collapse: collapse;
   font-size: 12px;
}
th { 
  color: darkgray;
  text-align: left;
  font-weight: 600;
}
tr {
  border-bottom: 1.1px solid #f0f0f0;
}
.socialTraffic td {
  height: 59px;
}
.socialTraffic th {
  height: 31px;
}

.dash--progressbar {
  background-color: #c1d0e3;
  border-radius: 13px;
  height: 6px;
  width: calc(100% - 34px)
}
.dash--progress-inner {
  background-color: #1051e0;
  height: 6px;
  border-radius: 13px;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
